<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AliyunPlayerMediaDemo-Swift.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>AliyunPlayerMediaDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>094B8F191F8DF5C900424A41</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>834E0DCF1F45880900541DA6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8377E3611F414CC20084EF9B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
